@model IEnumerable<KaratePortal.Models.PersonKarate.KarateStudent>
@{
    ViewBag.Title = "Show a students";

}

<h2>ShowStudents</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Student")
</p>
<table class="table">
    <tr>
        <th>
            <b>Name</b>
        </th>
        <th>
            <b>Last name</b>
        </th>
        <th>
            <b>Age</b>
        </th>
        <th>
            <b>Country</b>
        </th>
        <th>
            <b>City</b>
        </th>
        <th>
            <b>Belt</b>
        </th>
        <th>
            <b>Count years of trainings</b>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Belt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsTraining)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
<div>
    Total students: @ViewBag.CountStudents
</div>
    


